.custom-form {
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 55%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

