.stepper-wrapper-horizontal {
    display: flex;
    justify-content: space-between;
}
    
.step-wrapper{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step-number {
    border-radius: 50%;
    border: 1px solid grey;
    width: 25px;
    height: 25px;
    padding: 2px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.divider-line {
    height: 1px;
    background-color: #bdbdbd;
    position: absolute;
    top: 20%;
    left: 70%
}

.divider-line-2 {
    width: 296%
}

.divider-line-3 {
    width: 125%
}

.divider-line-4 {
    width: 70%
}

.divider-line-5 {
    width: 60%
}

.step-number-selected {
    border: 1px solid #bdbdbd;
    color: #fff;
}

.step-number-disabled {
    border: 1px solid #838383
}

.step-description-active {
    font-weight: bold;
}