.root {
    flex-grow: 1;
}

.menuButton {
    margin-right: 2em;
}

.title {
    flex-grow: 1;
}

.bigAvatar {
    margin: 10px !important;
    width: 150px !important;
    height: 150px !important;
}