.privacy{
    margin:20px 0; 
 }
 .privacy p, a,ol,li,b{
     font-size:18px;
 }
 
 .privacy h1{
     margin:20px 0;
     font-weight: 500;
 }
 
 .privacy li {
     margin: 10px 0 10px 30px;
 }
 .privacy h4{
     margin-top:30px;
     font-size: 20px;
     font-weight:800;
 }