article {
  height: 100vh;
}

a {
  font-size: 1.5em;
}

.head-article-1 {
  background: url(landing-images/1.jpg);
}

.head-article-2 {
  background: url(landing-images/2.jpg);
}

.head-article-3 {
  background: url(landing-images/3.jpg);
}

.head-article-4 {
  background: url(landing-images/4.jpg);
}

.head-article-5 {
  background: url(landing-images/5.jpg);
}

.head-article-6 {
  background: url(landing-images/6.jpg);
}

.head-article-7 {
  background: url(landing-images/7.jpg);
}

.head-article-8 {
  background: url(landing-images/8.jpg);
}

.row {
  margin: 0 !important;
  padding: 0 !important;
  align-items: center;
}

.col-md-1 {
  margin: 0;
  padding: 0;
}

.col-md-2 {
  margin: 0;
  padding: 0;
}

.col-md-10 {
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #212529 !important;
}

.button-container {
  width: fit-content;
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  width: fit-content;
  font-size: 1.3em;
  margin: 0 !important;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.works-article {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icons-wrapper {
  font-size: 4em;
  display: flex;
  justify-content: space-around;
}

.events-article {
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.events-article .row {
  flex-wrap: nowrap;
}

.carousel-block {
  padding: 5vw;
  display: flex;
  justify-content: space-around;
}

.nav-icon {
  width: 32px;
  height: 32px;
}

.card {
  height: 22.5vw !important;
  width: 20vw;
  max-width: 20vw;
}
