body {
    margin: 5%;
    font-family: Helvetica;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#fb-share-button {
    background: #3b5998;
    border-radius: 3px;
    font-weight: 600;
    padding: 4px 10px;
    display: inline-block;
    position: static;
}

    #fb-share-button:hover {
        cursor: pointer;
        background: #213A6F
    }

    #fb-share-button svg {
        width: 18px;
        fill: white;
        vertical-align: middle;
        border-radius: 2px
    }

    #fb-share-button span {
        vertical-align: middle;
        color: white;
        font-size: 14px;
        padding: 0 3px
    }
