#sub-nav div li a 
{
    width: 100%;
}

body {
    height: 100vh;
}

#root {
    height: 100%;
}

.extra-sidebar {
    background-color: rgba(114, 113, 113, 0.2);
}

.extra-sidebar ul li .link {
    padding: 10px;
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.75);
    display: block;    
    width: 100%;
}

.extra-sidebar ul li .link:hover {
    color: rgb(0, 0, 0);
    background: #fff;
    font-weight: 550;
    border-bottom: 3px solid rgb(63, 81, 181);
    transition: 0.1s;
}
