.cover_6d0202cf-b64b-48e6-aaf0-08d99263d7ce,
.cover_1436b7b6-297e-441c-aaf2-08d99263d7ce,
.cover_51073798-e46d-4045-aaf1-08d99263d7ce {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover_6d0202cf-b64b-48e6-aaf0-08d99263d7ce {
  background-image: url("./tile-cover_6d0202cf-b64b-48e6-aaf0-08d99263d7ce.jpg");
}

.cover_1436b7b6-297e-441c-aaf2-08d99263d7ce {
  background-image: url("./tile-cover_1436b7b6-297e-441c-aaf2-08d99263d7ce.jpg");
}

.cover_51073798-e46d-4045-aaf1-08d99263d7ce {
  background-image: url("./tile-cover_51073798-e46d-4045-aaf1-08d99263d7ce.jpg");
}
