.text-block {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #252424a6;
  color: white;
  font-size: 28px;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  font-size: 48px;
}

.button-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 28px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn{
  font-size: 36px;
}

.btn-edit{
  background: #da2121ab;
}

.btn-edit:hover{
  background: #da2121;
}

.clear-backgroud {
  background-color: white;
}

.clear-backgroud:hover {
  background-color: #ebebeb;
}
