.text-block {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #252424a6;
  color: white;
  font-size: 28px;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  font-size: 48px;
}

.button-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
}

.join-leave {
    font-size: 20px;
}

.btn-edit {
  font-size: 24px;
  background: #da2121ab;
}

.btn-edit:hover {
  background: #da2121;
}

.clear-backgroud {
  background-color: white;
}

.clear-backgroud:hover {
  background-color: #ebebeb;
}

.text-box-big {
    overflow-wrap: anywhere;    
    scroll-behavior: auto;
}
.cancel-text {
  font-size: 24px;
}
.change-event {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-menu {
    background: transparent;
    border: 0px;
}
