* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.Toast {
    background: white;
    border-left: 1rem solid #8a8a8a;
    border-radius: 0.5rem;
    box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
    display: flex;
    font-family: Helvetica, sans-serif;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem auto;
    width: 25rem;
}

.Toast--success {
    border-color: #008554;
}

.Toast--warning {
    border-color: #FFC627;
}

.Toast--error {
    border-color: #D14229;
}

.Toast__message-category {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
    text-transform: capitalize;
}

.Toast__message-text {
    margin-bottom: 0;
}

.Toast__button {
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    margin-left: 1rem;
    opacity: 0.5;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    height: 60vh;
}

    #notfound .notfound {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

.notfound {
    max-width: 310px;
    width: 100%;
    text-align: center;
}

    .notfound .notfound-404 {
        height: 180px;
        position: relative;
        z-index: -1;
    }

        .notfound .notfound-404 h1 {
            font-family: 'Montserrat', sans-serif;
            font-size: 130px;
            margin: 0px;
            font-weight: 900;
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            background: url('../img/bg.jpg') no-repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: cover;
            background-position: center;
        }


    .notfound h2 {
        font-family: 'Montserrat', sans-serif;
        color: #000;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
    }

    .notfound p {
        font-family: 'Montserrat', sans-serif;
        color: #000;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .notfound a {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        background: #0046d5;
        display: inline-block;
        padding: 15px 30px;
        border-radius: 40px;
        color: #fff;
        font-weight: 700;
        -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
        box-shadow: 0px 4px 15px -5px #0046d5;
    }


@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 143px;
    }

        .notfound .notfound-404 h1 {
            font-size: 112px;
        }
}
