.carousel-layout-section {
    display: grid;
    place-items: center;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel-layout-cards {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    padding: 5px;
}

@media screen and (max-width: 1350px) {
    .carousel-layout-cards {
        grid-auto-flow: row;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 950px) {
    .carousel-layout-section {
        grid-template-columns: 1fr;
    }

    .navigation-button {
        transform: rotate(90deg);
    }

    .carousel-layout-cards {
        grid-template-columns: 1fr;
    }
}
