.checkbox-group {
    margin: 0 10px;
}

.checkbox-group h2 {
    margin: 5px auto 10px 15px;
    font-size: 1rem;
    text-align: center;
}

.checkbox-group > div {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
