body {
    background-image: linear-gradient(to bottom, #f3dfa2, #7ebdc2);
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    padding: 1em;
    min-height: 100vh;
}

.pagination-controls {
    display: flex;
}

.pagination-controls__button {
    background-color: white;
    border-radius: 0.15em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: default;
    margin: 0 0.25em;
    padding: 0.5em 0.75em;
    &:first-child

{
    margin-left: 0;
}

&:last-child {
    margin-right: 0;
}

&:hover:not(:active) {
    transition: transform 0.15s;
    transform: translateY(-1px);
}

}

.pagination-controls__button--active {
    background-color: #4D7EA8;
    color: white;
    &:hover, &:hover:not(:active)

{
    transform: none;
}

}

.example {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.15em;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 1em 0;
    padding: 0.75em 1em;
}

.example__item {
    margin: 0.5em 0;
    &:first-child

{
    margin-top: 0;
}

&:last-child {
    margin-bottom: 0;
}
}
