.card-inner {
    margin-left: 4rem;
}

.photo {
   width: 55px;
   height: 55px;
}

.comment-text {
    font-size: 9px;
    margin-left: -5px;
    margin-top: 4px;
}

.photo-container {
    width: 80px;
    height: 80px;
}

.comment-container {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ItemComment {
    border-radius: 15px;
    display: flex;
    padding: 15px;
    padding-bottom: 0;
    color: black;
    justify-content: space-between;
}

.mybutton {
   padding-right: 15px;
}

.children {
   padding-left: 50px;
}